.grid {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-evenly;
    align-self: center;
    grid-gap: 2.5rem;
    margin: 20px auto;
    padding: 1rem;
}

#searchbar {
    padding: 10px 335px 15px 10px;
    left: 35%;
    position: relative;
}